.sticker {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.button {
    width: 248px;
    height: 48px;
    border: 0.3px solid #808080;
    border-radius: 32px;
    cursor: pointer; 
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.1);
}