.product_by_order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 16px;
}

.title {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.params {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.input {
    width: 400px;
    height: 40px;
    border-radius: 32px;
    border: 0.5px solid #808080;
    padding: 0 32px;
}

.input::placeholder {
    padding: 0 32px;
}

.button {
    width: 248px;
    height: 48px;
    border: 0.3px solid #808080;
    border-radius: 32px;
    cursor: pointer; 
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.subtitle {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 8px;
}

.item_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.icon_back {
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.icon_back:hover {
    transform: scale(1.2);
}